* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.body-form{
    background-color: #E5E5E5;
    margin: 0px 100px;
    margin-top: 120px;
    padding: 50px 0px;
    text-align: center;
}

h1{
    color: black;
    font-weight: 600;
    font-size: 40px;
}
